.container{
  border: 2px dotted rgb(255, 0, 0);
  width: 100%;
  border-top: 2px solid black;
}

.container .title{
  padding: 20px 15px;
  border-bottom: 1px solid #ddd;
  font-size: 1.2rem;
}

.container .info{
  padding: 15px;
  border-bottom: 1px solid #999;
}

.container .info dl {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.container .info dl:first-child{
 padding-left: 0;
}

.container .info dl::before {
  content : "";
  position: absolute;
  display: block;
  top : 0;
  left: 0;
  width: 1px;
  height: 25px;
  background: #ddd;
}

.container .body {
  padding: 15px;
  border-bottom: 1px solid #000;
  line-height: 160%;
  font-size : 1.2rem;
}

.container .info dl:first-child:before {
  display: none;
}

.container .info dl dt,
.container .info dl dd {
  display: inline-block;
}

.container .info dl dd {
  margin-left: 10px;
  color : gray
}

.body .like{
  border: 1px solid red;
  display: inline-block;
  padding: 0 50%;
}

.content_reply_write{
  border: 2px double yellow;
}

.content_reply{
  border: 2px dotted blueviolet;
}