.customer-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 60px 60px;
}

.customer-img {
  width: 500px;
  margin-right: 60px;
}

.customer-info > h2 {
  margin: 10px;
  font-size: 35px;
}

.customer-info > p {
  font-weight: 300px;
  font-size: 16px;
}

.sales-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 70px 70px;
}

.sales-img {
  width: 500px;
  height: 280px;
  margin-right: 60px;
}

.sales-info > h2 {
  margin: 10px;
  font-size: 35px;
}

.sales-info > p {
  font-weight: 300px;
  font-size: 16px;
}
.btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nonmember-btn {
  margin-bottom: 10px;
  width: 30%;
  height: 35px;
  color: white;
  border: 0;
  border-radius: 4px;
  background: linear-gradient(162deg, #757677 0%, #888e97 70%, #a5a8ad 70%);
}

/*

.home-container{
  width: 100vw;
  height: 65vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* 
 .home-form-comtainer{
  width:950px;
  height: 700px;
  box-shadow: 10px black;
  border-radius: 10px;
} 

.customer-view .home-img {
  float:left;
}
.customer-view .home-text{
  float:left; margin-right:10px;
}

.sales-view .home-img {
  float: left;
}

.sales-view .home-text {
  float:left; margin-right:10px;
} */
